h2 {color:blueviolet;}
body{color:black;}

p{
  background-color:yellowgreen;
  margin: 10px;
}
div
{
  color: white;
  background-color: 009900;
  margin: 2px;
  font-size: 25px;
}
div {
  width: 300px;
  border: 15px solid blueviolet;
  padding: 50px;
  margin: 20px;
}
body {background-color:pink;}

P{
    font-family: 'Squada One', cursive;
}
p{font-family: 'Enriqueta', serif;

}
h2{font-family: 'Squada One', cursive;

}

li{font-family: 'Enriqueta', serif;

}
h2{font-family: 'Enriqueta', serif;

}

h2 {color: #E17FFF}

}
